:root{

--bg:#f5f7fb;
--card:#ffffff;
--text:#111;
--primary:#4f46e5;

}

body.dark{

--bg:#0f172a;
--card:#1e293b;
--text:#e5e7eb;
--primary:#6366f1;

}

body{

margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);

}

.navbar{

display:flex;
justify-content:space-between;
padding:15px 20px;
background:var(--card);
border-bottom:1px solid #ddd;

}

.logo{

font-size:20px;
font-weight:bold;
color:var(--primary);

}

.container{

max-width:1000px;
margin:auto;
padding:20px;

}

input,select{

width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;

}

button{

padding:10px 15px;
border:none;
border-radius:8px;
background:var(--primary);
color:white;
cursor:pointer;

}

.grid{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(230px,1fr));
gap:20px;

}

.card{

background:var(--card);
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.card img{

width:100%;
height:180px;
object-fit:cover;

}

.card-body{

padding:10px;

}

.lost{

color:red;
font-weight:bold;

}

.found{

color:green;
font-weight:bold;

}

.login{

width:300px;
margin:120px auto;
background:var(--card);
padding:25px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}